body {
  font-family: 'Raleway', sans-serif !important;
}

* {
  font-family: 'Raleway', sans-serif !important;
}

:root {
  --fondo-yellow: #ffd801;
  --fondo-deep-yellow: #ddbe0d;
  --fondo-ash: #515151;
}

.book-tee-time-btn {
  background: rgb(185, 69, 69);
  padding: 10px 20px;
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 6px;
}

.tee-time-container {
  padding: 25px 45px 25px 45px !important;
  border: 1px solid rgb(184, 184, 184);
}

.book-tee-time-btn:hover {
  color: white;
  text-decoration: none;
}

.norm-padding {
  padding-left: 15px;
}
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.header-container {
  background: white;
  padding: 1% 0 1% 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.explore-container {
  background: rgb(238, 238, 238);
  padding: 3% 0 6% 0;
}

.investor-container {
  background: url('../images/fondo_investor_banner.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 5% 0 5% 0;
  height: 400px;
}

.featured-container {
  padding: 3% 0 6% 0;
}
.footer-container {
  padding: 3% 0 3% 0;
  background: #333
}

.service-caption {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.service-caption h3 {
  font-weight: 700;
}

.main-content-container {
  padding: 3% 0 3% 0;
  background: rgb(172, 172, 172);
}

.detail-container {
  padding: 3% 0 3% 0;
}

.checkout-button {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  display: inline-block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
  color: #333;
}

.checkout-button:hover {
  background: white;
  color: #333;
}

.featured-content a {
  text-decoration: none;
  color: #333;
}

.featured-content a:hover {
  text-decoration: none;
}

.featured-content a h5 {
  color: var(--fondo-deep-yellow);
}

.error-box {
  text-align: center;
  padding: 8px;
  color: white;
  font-weight: bold;
  background-color: rgb(153, 44, 44);
}
textarea:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  border: 1px solid var(--fondo-yellow);
}

textarea {
  display: block;
  border-radius: 3px;
  border: 1px solid rgb(221, 221, 221);
  width: 100%;
  padding: 10px;
  outline: none;
  transition: 0.3s;
  resize: none;
  height: 200px;
}

.loader {
  width: 30px;
  height: 30px;
}
/* Dashboard styles */

.main-container {
  padding: 5% 0 5% 0;
  min-height: 500px;
}

.sidebar-container {
  height: 500px;
  /* border-right: 1px solid rgb(231, 231, 231); */
}

.main-investor-container {
  min-height: 400px;
  padding: 10px;
}

.form-button {
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  display: block;
  width: 100%;
  background: var(--fondo-yellow);
  transition: 0.3s;
  cursor: pointer;
  color: #333;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 30px;
}

.form-button-inverse {
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(151, 151, 151);
  display: block;
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
  color: #333;
  font-weight: 700;
}

.form-button:hover {
  background: transparent;
  color: #333;
}
.form-input {
  margin-bottom: 20px;
}
